<footer class="footer">
  <nav>
    <ul>
      <li><u><%= link_to "About",   about_path,:style=>"color:orange" %></u></li>
      <li><u><%= link_to "Contact", contact_path ,:style=>"color:orange"%></u></li>
    </ul>
  </nav>
</footer>
