<% provide(:title, "Help") %>

<h3 class="text-center">Help</h3>
    <p >
	<font size="5" style="line-height:150%;">
      本大作业共有7个实体，包括管理员,顾客(user),商品，商品评论，订单，订单项以及最终的订单表，以下依次介绍每个实体的特点</br>
	  首先是管理员和顾客(user),给出管理员登陆名:updmin@163.com,密码:19990806</br>
	  顾客的权限以及能够实现的动作是</br>
	  1、浏览并搜索商品</br>
	  2、查看商品详细介绍(点击商品名字)</br>
	  3、将商品加入购物车</br>
	  4、从购物车中移除产品</br>
	  5、填写并提交订单</br>
	  6、更改自己的个人信息</br>
	  管理员实质上与顾客完全相同，只是拥有特殊的用户名,在顾客之上的能力有:</br>
	  1、新建、编辑以及删除商品的数据</br>
	  2、删除商品的评论</br>
	  3、删除用户的数据</br>
	  4、查看所有的订单，并将已经处理完成的订单删除</br>
	  </br>
	 商品的属性:</br>
	 1、名字</br>
	 2、描述</br>
	 3、是否ACTIVE(显示或者隐藏)</br>
	 4、商品图片(利用paperclip插件实现)</br>
	 5、商品价格</br>
	 </br>
	 商品评论属性：</br>
	 1、两个外键:评论的用户以及所评论的属性</br>
	 2、评论内容</br>
	 </br>
	 订单项属性:</br>
	 1、两个外键:订单项中的产品，所属的订单</br>
	 2、订单件数</br>
	 </br>
	 订单：</br>
	 1、所有其拥有的订单项</br>
	 2、总价格</br>
	 </br>
	 订单表:</br>
	 1、2个外键:提交订单表的用户以及来源的订单</br>
	 2、3个其他属性，包括真实姓名，电话和住址</br>
	 </font>
    </p>
