<table width="100%" border="1">
  <thead> <tr>
    <th width="30%">Name</th>
    <th width="30%">Email</th>
	 <th width="30%">create time</th>
    <th width="10%"></th>
  </tr>
  </thead>

  <tbody>
    <%= render @users %>
  </tbody>
</table>
